@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  margin: 0px;
}

.insta-wrap {
  width: 375px;
  margin: auto;
  overflow: hidden;
  height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
}

.insta-logo {
  width: 28px;
}

.insta-text {
  height: 30px;
  margin-bottom: -3px;
}

.insta-send {
  width: 28px;
}

.feed-wrap {
  margin-top: 50px;
  padding: 5px 10px;
  overflow-y: scroll;
  height: 100vh;
}

.feed-wrap::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.feed-wrap::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
.feed-wrap::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.feed-wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.single-post:last-child {
  padding-bottom: 150px;
}

.user-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-left {
  display: flex;
}

.user-img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-img {
  width: 100%;
}

.username {
  margin-top: 10px;
  margin-left: 8px;
  font-size: 14px;
}

.settings {
  height: 20px;
  margin-top: 8px;
}

.user-feed-img {
  width: 100%;
}

.action-icon-left {
  width: 24px;
  margin-right: 10px;
}

.action-icon-right {
  width: 24px;
}

.user-action-wrap {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
}

.bottom-nav {
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}

.nav-img {
  width: 24px;
  margin: 0px 6%;
}

.feed-title {
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.feed-description {
  font-size: 14px;
  margin: 0px;
}

#tooltip {
  position: relative;
}

#tooltip::before {
  content: "Click Below!";
  display: block;
  padding: 5px 10px;
  font-size: 11px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  position: absolute;
  top: -30px;
  right: 3%;
  animation: moving 1s ease-in-out infinite alternate;
}

/* #tooltip::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top-color: white;
  position: absolute;
  top: -9px;
  right: 41px;
} */

@keyframes moving{
  from{
    transform: translateY(0px);
  }to{
    transform: translateY(5px);
  }
}

@media only screen and (max-width: 576px) {
  .insta-wrap {
    width:100%;
  }

  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}
